{% extends "base.html" %}
{% block title %}Регистрация нового пользователя{% endblock %}
{% block content %}
<div class="main-body">
	<h1>Регистрация нового пользователя{</h1>
	<form method="POST">
		{% csrf_token %}
        <div class="form-wrapper">
            {% for field in form %}
                <div class="form-field">
                    <div class="form-field-label">
                        {{ field.label_tag }}
                    </div>
                    <div class="form-field-input">
                        {{ field }}
                    </div> 
                </div>
            <div class="form-field-errors">
                {{ field.errors }}
            </div>
            {% endfor %}      
        </div>        
		<button class="form-button-submit" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>
{% endblock %}