:root {
    --section-border: 1px solid black;
    --section-color: rgb(213, 219, 224);
    --section-dropdown-hover-color: #002d41;
}

.course-section {
    width: 800px;
}

.course-section-header {
    background-color: var(--section-color);
    display: flex;
    align-items: center;
    padding: 12px;
    border-top: var(--section-border);
    border-left: var(--section-border);
    border-right: var(--section-border);
}

.course-section-header span:last-child {
    margin-left: auto;
}

.course-section:last-child {
    border-bottom: var(--section-border);
}

.course-section-body {
    border-top: var(--section-border);
    border-left: var(--section-border);
    border-right: var(--section-border);
    padding: 12px 12px;
}

.section-header-icon-expand {
    width: 20px;
    height: 20px;
}

.text-underline {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.text-underline:hover {
    cursor: pointer;
}

.nested-form .form-field{
    grid-template-columns: 3fr 3fr 1fr;
}

.nested-form input {
    width: 32rem;
}

.section-icon {
    width: 20px;
    height: 20px;
}

.section-item {
    display: flex;
    align-items: center;
    padding: 6px 0px;
}

.item-name {
    padding-left: 6px;
}

.item-right {
    margin-left: auto;
}

.btn-add-item {
    width: 140px;
    height: fit-content;
    border: 1px solid black;
    padding: 8px 10px;
    font-family: inherit;
    font-weight: 400;
    display: flex;
    justify-content: center;
    position: relative;
}

.dropdown-add {
    position: absolute;
    border: inherit;
    padding: inherit;
    background-color: white;
    font-weight: 100;
    top: 40px;
    width: 140px;
}

.dropdown-add ul {
    list-style: none;
}

.dropdown-add-item {
    margin: 4px 0px;
}

.dropdown-add-item:hover {
    color: var(--section-dropdown-hover-color);
    cursor: pointer;
}

#dialog-questions {
    position: absolute;
    margin: auto;
    width: 400px;
    height: 600px;
}

