p {
    width: 80%;
    margin-bottom: 20px;
}

#div-btn-what-will-learn,
#div-btn-requirements {
    position: relative;
}


.tooltip {
    visibility: hidden;
    position: absolute;
    left: 220px;
    border-radius: 12px;
    border: 1px solid black;
    padding: 8px;
}

#div-btn-requirements:hover .tooltip,
#div-btn-what-will-learn:hover .tooltip {
    visibility: visible; 
}

fieldset {
    padding: 16px;
}

#options-checkboxes {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.options-input input {
    width: 8rem;
}

.options-row {
    display: grid;
    grid-template-columns: 0.75fr 2fr 4fr;
    align-items: center;
}

.options-row .options-input {
    margin-left: 16px;
}

.hidden {
    visibility:hidden;
}

.options-error {
    margin-left: 16px;
    color: red;
    font-weight: 400;
}