:root {
  --main-primary-color: #028dc9;
  --main-cat-width: 200px;
  --forms-border-color: rgb(201, 201, 201);
  --forms-text-color: #212529;
  --forms-focus-shadow: #028dc97e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Geologica', sans-serif;
    font-weight: 100;
}

nav {
    font-family: 'Geologica', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.header {
    background-color: white;
    margin: 0;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0.1, 0.1, 0.1, 0.2)
}

#header-logo {
    font-size: 2rem;
    color: var(--main-primary-color);
}

.header-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
}

#header-search,
.header-search-field form {
    flex-grow: 1;
}

.header-search-field {
    background-color: #f2f2f2;
    border: 1px black solid;
    border-radius: 6px;
    padding: 6px;
    display: flex;
    align-items: center;
}

input#header-search-input {
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 30px;
    font-family: inherit;
    font-size: inherit;
}

#header-categories {
    position: relative;
}

#header-popover-categories,
#header-popover-subcategories,
#header-popover-subjects {
    height: 300px;
    width: var(--main-cat-width);
    position: absolute;
    top: 60px;
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
    box-shadow: 4px 4px 12px rgba(0.1, 0.1, 0.1, 0.2)
}

#header-popover-subcategories {
    left: var(--main-cat-width);
}

#header-popover-subjects {
    left: calc(var(--main-cat-width)*2);
}

.invisible {
    display: none;
}

.main-body {
    margin: 50px 200px;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 12;
}