#profile-avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.course-wrapper {
    display: flex;
}

.course-cover {
    width: 200px;
}

.course-info {
    display: block;
}