#teacher-avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

#teacher-block {
    display:grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
}

.review-star-small {
    fill: none;
    stroke: black;
    width: 20px;
    height: 20px;
}

.star-selected {
    fill: yellow;
}

#teacher-rating-block {
    display: flex;
    column-gap: 6px;
}