#teacher-avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

#teacher-block {
    display:grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
}

.review-star-small {
    fill: none;
    stroke: black;
    width: 20px;
    height: 20px;
}

.star-selected {
    fill: yellow;
}

#teacher-rating-block {
    display: flex;
    column-gap: 6px;
}

#courses-block {
    margin-top: 30px;
}

#courses {
    display: flex;
}

.course-wrapper {
    width: 600px;
    background-color: aliceblue;
    display: flex;
    column-gap: 12px;
    padding: 12px;
}

.course-subject {
    background-color: rgb(175, 218, 255);
    border-radius: 6px;
    padding: 4px;
    width: fit-content;
}

.course-wrapper img {
    width: 200px;
}