{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'shared.css' %}" rel="stylesheet">
    <link href="{% static 'forms.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100&display=swap" rel="stylesheet">
    <script src="{% static 'script.js' %}" defer></script>
</head>

<nav>
    <div class="header">
        <ul class="header-items">
            <li class="header-item" id="header-logo">
                <span>courses!</span>
            </li>
            <li class="header-item" id="header-categories">
                <span id="header-categories-link">Категории</span>
                <template id="header-popover-template">
                    <div class="header-popover-element">
                        <a class="header-popover-link"></a>
                    </div>
                </template>
                <div id="header-popover-categories" class="invisible"></div>
                <div id="header-popover-subcategories" class="invisible"></div>
                <div id="header-popover-subjects" class="invisible"></div>
            </li>
            <li class="header-item" id="header-search">
                <div class="header-search-field">
                    <form action="/">
                        <input type="text" id="header-search-input">
                    </form>
                </div>
            </li>
            <li class="header-item">
                <span>Стать преподавателем</span>
            </li>
            <li class="header-item">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                <a href="{% url 'login' %}">Войти</a>
                {% endif %}
            </li>
            <li class="header-item">
                <a href="{% url 'registration' %}">Регистрация</a>
            </li>
        </ul>
    </div>
</nav>

<body>
{% block content %}{% endblock %}
</body>
</html>