{% extends "base.html" %}
{% load static %}
{% block title %}Войти на сайт{% endblock %}
{% block imports %}
<link href="{% static 'course-single.css' %}" rel="stylesheet">
<script src="{% static 'course-single.js' %}" defer></script>
{% endblock %}  
{% block content %}
<div class="main-body">
    <div class="invisible">
        <p id="course-id">{{ id }}</p>
        <svg id="icon-expand" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>
    </div>
    <p id="course-name"></p>
    <div id="course-sections">
        <template id="template-course-section">
            <div class="course-section">
                <div class="course-section-header">
                    <svg class="section-header-icon-expand">
                        <use href="#icon-expand"></use>
                    </svg>
                    <span class="section-name"></span>
                    <span class="text-underline">Удалить</span>
                </div>
                <div class="course-section-body invisible">
                    <button class="form-button">Добавить урок</button>
                </div>
            </div>
        </template>
    </div>
    <button id="btn-add-section" class="form-button">Добавить секцию</button>
    <div class="invisible" id="section-add">
        <form name="section-add" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-wrapper">
                <div class="form-field">
                    <label for="name">Название секции</label>
                    <input type="text" name="name" placeholder="Введите название...">
                </div>
                <div class="form-field">
                    <label for="description">Описание секции</label>
                    <input type="text" name="description" placeholder="Введите описание...">
                </div>
            </div>
            <button class="form-button" type="submit">Добавить секцию</button>
        </form>
    </div>
</div>
{% endblock %}