{% extends "base.html" %}
{% load static %}
{% block title %}Войти на сайт{% endblock %}
{% block imports %}
<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
<script src="https://vjs.zencdn.net/8.3.0/video.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/videojs-playlist@5.1.0/dist/videojs-playlist.min.js" defer></script>
<script src="https://js.stripe.com/v3/"></script>
<link href="{% static 'course-single.css' %}" rel="stylesheet">
<script src="{% static 'course-single.js' %}" defer></script>
{% endblock %}  
{% block content %}
<p id="csrf-token">{% csrf_token %}</p>
<div class="invisible">
    <p id="course-id">{{ id }}</p>
    <svg id="icon-expand" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>
    <svg id="icon-date" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
    <svg id="icon-language" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon><path d="M15.54 8.46a5 5 0 0 1 0 7.07"></path></svg>
    <svg id="icon-check" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>
    <svg id="icon-lesson" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18"></rect><line x1="7" y1="2" x2="7" y2="22"></line><line x1="17" y1="2" x2="17" y2="22"></line><line x1="2" y1="12" x2="22" y2="12"></line><line x1="2" y1="7" x2="7" y2="7"></line><line x1="2" y1="17" x2="7" y2="17"></line><line x1="17" y1="17" x2="22" y2="17"></line><line x1="17" y1="7" x2="22" y2="7"></line></svg>
    <svg id="icon-extra_file" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M13 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V9l-7-7z"/><path d="M13 3v6h6"/></svg>
    <svg id="icon-test" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
    <svg id="icon-homework" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
</div>
<dialog id="dialog-video-player">
    <div id="dialog-video-player-title">
        <h2 id="video-player-course-title"></h2>
    </div>
    <div id="video-player" >
        <video class="video-js" class="vjs-fluid" width="800" controls>
        </video>
    </div>
    <template id="template-video-player-ui-element">
        <li class="video-player-ui-item"></li>
    </template>
    <div id="video-player-ui">
        <div id="video-player-ui-previous-section" class="invisible">Предыдущая секция</div>
        <ul class="video-player-items"></ul>
        <div id="video-player-ui-next-section" class="invisible">Следущая секция</div>
    </div>
</dialog>
<div id="course-header">
    <div id="course-header-content">
        <h1 id="course-name"></h1>
        <div id="course-short_description"></div>
        <div id="course-created_by">
            <span>Created by</span>
        </div>
        <div id="course-header-bottom">
            <svg class="course-header-icon">
                <use href="#icon-date"></use>
            </svg>
            <span>Last update <span id="course-date_updated"></span></span>
            <svg class="course-header-icon">
                <use href="#icon-language"></use>
            </svg>
            <span id="course-language"></span>
        </div>
    </div>
</div>

<template id="template-section-item">
    <div class="section-item">
        <svg class="section-icon">
            <use></use>
        </svg>
        <div class="item-option"></div>
        <span class="item-name"></span>
        <div class="item-right">
            <span class="text-underline item-option"></span>
        </div>
    </div>
</template>
<template id="template-course-section">
    <div class="course-section">
        <div class="course-section-header">
            <svg class="section-header-icon-expand">
                <use href="#icon-expand"></use>
            </svg>
            <span class="section-name"></span>
        </div>
        <div class="course-section-body invisible">
            <div class="section-items">
            </div>
        </div>
    </div>
</template>
<template id="template-what_will_learn">
    <div class="what_will_learn-item">
        <svg class="what_will_learn-icon">
            <use href="#icon-check"></use>
        </svg>
        <span class="what_will_learn-text"></span>
    </div>
</template>
<div id="body-wrapper">
    <div id="side-menu">
        <img id="side-menu-cover" src="" alt="">
        <div id="side-menu-content">
            <div id="side-menu-paid" class="invisible">
                <span></span>
                <div id="side-menu-paid-content">

                </div>
                <span></span>
            </div>
            <h2 id="side-menu-price"></h2>
            <div id="buy-btn" class="form-button">Купить</div>
            <div id="side-menu-options-header">
            </div>
            <div id="side-menu-options">
                <span>Данная опция включает:</span>
                <div id="side-menu-options-content">
                    
                </div>
            </div>
            <div id="side-menu-upgrade" class="invisible">
                <span>Вы можете получить апгрейд всего за:</span>
                <h2 id="side-menu-upgrade-price"></h2>
                <div id="upgrade-btn" class="form-button">Апгрейд</div>
            </div>
        </div>
    </div>
    <div id="course-body">
        <!-- <div id="buy-basic" class="buy-course">Купить basic</div>
        <div id="buy-extra" class="buy-course">Купить extra</div>
        <div id="buy-premium" class="buy-course">Купить premium</div> -->
        
        <div id="course-what_will_learn">
            <h2>Чему вы научитесь:</h2>
            <div id="what_will_learn-items"></div>
        </div>
        <div id="content-title">
            <h2>Материалы курсы</h2>
        </div>
        <div id="content-info">
            <span id="course-content-info"></span>
        </div>  
        <div id="course-sections"></div>
        <template id="template-requirements">
            <li class="course-requirement"></li>
        </template>
        <div id="course-requirements">
            <h2>Необходимые требования</h2>
            <ul></ul>
        </div>
        <div id="course-description">
            <h2>Подробное описание</h2>
            <div id="course-full_description"></div>
        </div>
    </div>
</div>
{% endblock %}