{% extends "base.html" %}
{% load static %}
{% block imports %}
<link href="{% static 'search.css' %}" rel="stylesheet">
<script src="{% static 'search.js' %}" type="module" defer></script>
{% endblock imports %}
{% block title %}Index page{% endblock title %}
{% block content %}
<template id="template-course">
    <div class="course-wrapper">
        <div class="course-cover">
            <img>
        </div>
        <div class="course-body">
            <a><h3 class="course-name"></h3></a>
            <p class="course-description"></p>
            <span class="course-author"></span>
            <span>Студентов: <span class="course-student-count"></span></span>
            <div class="course-rating">
                <svg class="review-star-small">
                    <use href="#icon-star"></use>
                </svg>
                <svg class="review-star-small">
                    <use href="#icon-star"></use>
                </svg>
                <svg class="review-star-small">
                    <use href="#icon-star"></use>
                </svg>
                <svg class="review-star-small">
                    <use href="#icon-star"></use>
                </svg>
                <svg class="review-star-small">
                    <use href="#icon-star"></use>
                </svg>
                <span class="course-rating-number"></span>
            </div>
        </div>
        <div class="course-price">
            <span></span>
        </div>
    </div>
</template>
<div class="invisible">
    <svg id="icon-expand" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>
    <svg id="icon-star" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
</div>
<div class="main-body-block">
    <p>All</p>  
    <div id="test-wrapper">
        <div id="filters">
            <div id="filter-duration" class="filter-option">
                <div class="filter-header">
                    <h2 class="filter-title">Длительность</h2>
                    <svg>
                        <use href="#icon-expand"></use>
                    </svg>
                </div>
                <div class="filter-body invisible">
                    <div class="filter-choice">
                        <input type="checkbox" id="duration-1">
                        <label for="duration-1">0-1ч</label>
                        <span class="filter-choice-count"></span>
                    </div>
                    <div class="filter-choice">
                        <input type="checkbox" id="duration-2">
                        <label for="duration-2">1-3ч</label>
                        <span class="filter-choice-count"></span>
                    </div>
                    <div class="filter-choice">
                        <input type="checkbox" id="duration-3">
                        <label for="duration-3">3-6ч</label>
                        <span class="filter-choice-count"></span>
                    </div>
                    <div class="filter-choice">
                        <input type="checkbox" id="duration-4">
                        <label for="duration-4">6-17ч</label>
                        <span class="filter-choice-count"></span>
                    </div>
                    <div class="filter-choice">
                        <input type="checkbox" id="duration-5">
                        <label for="duration-5">17+ч</label>
                        <span class="filter-choice-count"></span>
                    </div>
                </div>
            </div>
            <div id="filter-language" class="filter-option">
                <div class="filter-header">
                    <h2 class="filter-title">Язык</h2>
                    <svg>
                        <use href="#icon-expand"></use>
                    </svg>
                </div>
                <template id="template-filter-language">
                    <div class="filter-choice">
                        <input type="checkbox">
                        <label></label>
                        <span class="filter-choice-count"></span>
                    </div>
                </template>
                <div class="filter-body invisible">
                </div>
            </div>
            <div id="filter-options" class="filter-option">
                <div class="filter-header">
                    <h2 class="filter-title">Опции</h2>
                    <svg>
                        <use href="#icon-expand"></use>
                    </svg>
                </div>
                <template id="template-filter-option">
                    <div class="filter-choice">
                        <input type="checkbox">
                        <label></label>
                        <span class="filter-choice-count"></span>
                    </div>
                </template>
                <div class="filter-body invisible">
                </div>
            </div>
            <div id="filter-prices" class="filter-option">
                <div class="filter-header">
                    <h2 class="filter-title">Стоимость</h2>
                    <svg>
                        <use href="#icon-expand"></use>
                    </svg>
                </div>
                <template id="template-filter-price">
                    <div class="filter-choice">
                        <input type="checkbox">
                        <label></label>
                        <span class="filter-choice-count"></span>
                    </div>
                </template>
                <div class="filter-body invisible">
                </div>
            </div>
            <div id="filter-subjects" class="filter-option">
                <div class="filter-header">
                    <h2 class="filter-title">Предмет</h2>
                    <svg>
                        <use href="#icon-expand"></use>
                    </svg>
                </div>
                <template id="template-filter-subject">
                    <div class="filter-choice">
                        <input type="checkbox">
                        <label></label>
                        <span class="filter-choice-count"></span>
                    </div>
                </template>
                <div class="filter-body invisible">
                </div>
            </div>
            <div id="filter-ratings" class="filter-option">
                <div class="filter-header">
                    <h2 class="filter-title">Рейтинг</h2>
                    <svg>
                        <use href="#icon-expand"></use>
                    </svg>
                </div>
                <template id="template-filter-rating">
                    <div class="filter-choice">
                        <input type="checkbox">
                        <label></label>
                        <span class="filter-choice-count"></span>
                    </div>
                </template>
                <div class="filter-body invisible">
                </div>
            </div>
        </div>  
        <div id="courses"></div>
    </div>
</div>
{% endblock content %}